body {
  background-color: #101011;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #f53c3c;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #c1c4c4;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #6c6f6f;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  font-size: 0.9rem;  
  background-color: #f53c3c;
  border-radius:50%;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  margin: auto 10px;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.2rem;
  background: #6c6f6f;
  color: #ffffff;
  outline: none;
  border: none;
}

button {
  background-color: #1509bd; 
  border: none;
  color: #e5e5ea;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #101011;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.sign-in {
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background: #1509bd;
  align-self: flex-end;
}
.received p {
  background: #e8e8ee;
  color: black;
}

.URLphoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.logo{
  height: 90%;
  max-width: 50%;
}